<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Todo List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/todo.css">
        <script src="/assets/todo.js"></script>
    </head>
<body>
    <a class="logout" href="/logout">Logout</a>
    <h1 style="color: white">My Todo List</h1>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="add new item..." autocomplete="off" required/>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% todos.forEach(todo => { %>
               <li><%= todo.item %></li>
            <% }) %>
        </ul>
    </div>
    
</body>
</html>